# Analysis of Crime, Income, Sales and Development Over Time

In [1]:
# Import libraries for analysis
import pandas as pd
import numpy as np

In [35]:
# Import libraries for visualization
%matplotlib inline
import hvplot.pandas
import plotly.express as px
import matplotlib.pyplot as plt
from panel.interact import interact

In [144]:
# # Import csv's from individual analysis of the following:

# # Historical Crime 2003-2018
crime_path = 'crime_stats.csv'
crime_df = pd.read_csv(crime_path)
# # Historical Income 2004-2016
# income_path
# incone_df = pd.read_csv(income_path)
# # Historical Sales 2003-2018
sales_path = 'Historic_Sales_Analysis/sales_stats.csv'
sales_df = pd.read_csv(sales_path)
# Historical Development 2000-2019
dev_path = 'dev_df.csv'
dev_df =  pd.read_csv(dev_path)

## Ranking Metrics

In [145]:
new_sales_columns = ['neighborhood',
                     'avg_yearly_sales',
                     'avg_pct_change',
                     'pct_change_3yr',
                     'comparison_3yr',
                     'pct_change_5yr',
                     'comparison_5yr']
sales_df.columns = new_sales_columns
sales_df.set_index(['neighborhood'], inplace=True)
sales_df['current_rank']=sales_df['avg_yearly_sales'].rank(ascending=False)
sales_df['avg_change_rank']=sales_df['avg_pct_change'].rank(ascending=False)
sales_df['growth_3yr_rank']=sales_df['comparison_3yr'].rank(ascending=False)
sales_df['growth_5yr_rank']=sales_df['comparison_5yr'].rank(ascending=False)
sales_df.head()

In [148]:
sales_df['avg_change_rank']=sales_df['avg_pct_change'].rank(ascending=False)
sales_df['growth_3yr_rank']=sales_df['comparison_3yr'].rank(ascending=False)
sales_df['growth_5yr_rank']=sales_df['comparison_5yr'].rank(ascending=False)
sales_df.head()

,avg_yearly_sales,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,current_rank,avg_change_rank,growth_3yr_rank,growth_5yr_rank
neighborhood,,,,,,,,,,
MIDTOWN WEST,6.054405e+09,0.3036,0.0389,-0.2647,0.1308,-0.1728,1.0,37.0,176.0,179.0
UPPER EAST SIDE (59-79),4.235901e+09,0.0831,-0.0774,-0.1605,0.0112,-0.0719,2.0,128.5,150.0,145.0
MIDTOWN CBD,3.705496e+09,0.2531,-0.0645,-0.3176,-0.0884,-0.3415,3.0,48.0,181.0,191.0
UPPER WEST SIDE (59-79),3.279761e+09,0.1025,0.0332,-0.0693,0.0963,-0.0062,4.0,111.0,113.0,120.0
UPPER EAST SIDE (79-96),2.897718e+09,0.0642,-0.0251,-0.0893,0.0421,-0.0221,5.0,157.0,124.0,130.0

## Present Day Ranking of Neighborhoods

In [113]:
# ranking of crime
current_crime_df = crime_df
current_crime_df['rank']=current_crime_df.index+1
new_crime_columns = ['neighborhood','current_crime','avg_pct_change','pct_change_3yr','comparison_3yr','pct_change_5yr','comparison_5yr','crime_rank']
current_crime_df.columns = new_crime_columns
current_crime_df.set_index(['neighborhood'], inplace=True)
current_crime_df.head()

,current_crime,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,crime_rank
neighborhood,,,,,,,
ASTORIA,1691.0,-0.041,-0.011,0.030,-0.019,0.022,1
BAYSIDE,677.0,-0.045,-0.049,-0.004,-0.055,-0.010,2
BELMONT,1394.0,-0.024,-0.079,-0.055,-0.045,-0.021,3
BENSONHURST,1017.0,-0.047,-0.063,-0.016,-0.062,-0.015,4
BROWNSVILLE,1686.0,-0.025,-0.008,0.017,-0.041,-0.016,5

In [111]:
crime_df.sort_values(['current_status'], ascending=True, inplace=True)
current_crime_df = crime_df.reset_index()
current_crime_df.head()

,index,Unnamed: 0,current_status,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr
0,1,BAYSIDE,677.0,-0.045,-0.049,-0.004,-0.055,-0.010
1,11,FLATLANDS,887.0,-0.047,-0.079,-0.032,-0.073,-0.026
2,6,CANARSIE,887.0,-0.047,-0.079,-0.032,-0.073,-0.026
3,13,GREENPOINT,923.0,-0.001,-0.022,-0.021,-0.019,-0.018
4,19,RIVERDALE,939.0,-0.033,-0.004,0.029,-0.004,0.029

In [84]:
# ranking of sales
current_sales_df = sales_df
current_sales_df['rank']=current_sales_df.index+1
new_sales_columns = ['neighborhood','avg_yearly_sales','avg_pct_change','pct_change_3yr','comparison_3yr','pct_change_5yr','comparison_5yr','sales_rank']
current_sales_df.columns = new_sales_columns
current_sales_df.set_index(['neighborhood'], inplace=True)
current_sales_df.head()

,avg_yearly_sales,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,sales_rank
neighborhood,,,,,,,
MIDTOWN WEST,6.054405e+09,0.3036,0.0389,-0.2647,0.1308,-0.1728,1
UPPER EAST SIDE (59-79),4.235901e+09,0.0831,-0.0774,-0.1605,0.0112,-0.0719,2
MIDTOWN CBD,3.705496e+09,0.2531,-0.0645,-0.3176,-0.0884,-0.3415,3
UPPER WEST SIDE (59-79),3.279761e+09,0.1025,0.0332,-0.0693,0.0963,-0.0062,4
UPPER EAST SIDE (79-96),2.897718e+09,0.0642,-0.0251,-0.0893,0.0421,-0.0221,5

In [85]:
#ranking of development
current_dev_df = dev_df
current_dev_df['rank']=current_dev_df.index+1
new_dev_columns = ['neighborhood','cumulative_dev','avg_pct_change','pct_change_3yr','comparison_3yr','pct_change_5yr','comparison_5yr','dev_rank']
current_dev_df.columns = new_dev_columns
current_dev_df.set_index(['neighborhood'], inplace=True)
current_dev_df.head()

,cumulative_dev,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,dev_rank
neighborhood,,,,,,,
MIDTOWN WEST,1.384959e+10,0.2515,0.1094,-0.1421,0.125,-0.1265,1
MIDTOWN CBD,1.209472e+10,139.3866,0.1198,-139.2668,0.119,-139.2676,2
UPPER EAST SIDE (59-79),6.525430e+09,147.6482,0.0966,-147.5516,0.104,-147.5442,3
FASHION,5.149296e+09,0.2746,0.1110,-0.1636,0.120,-0.1546,4
FINANCIAL,4.768688e+09,0.1909,0.0985,-0.0924,0.141,-0.0499,5

In [114]:
current_rank = pd.concat([current_dev_df['dev_rank'],current_sales_df['sales_rank']], axis='columns', join='inner')

current_rank.head()

                         dev_rank  sales_rank
neighborhood
MIDTOWN WEST                    1           1
MIDTOWN CBD                     2           3
UPPER EAST SIDE (59-79)         3           2
FASHION                         4          10
FINANCIAL                       5           7

,Unnamed: 0,avg_yearly_sale,avg_pct_change,pct_change_3yr,comparison_3yr,pct_change_5yr,comparison_5yr,pct_change_rank
0,MIDTOWN WEST,6.054405e+09,0.3036,0.0389,-0.2647,0.1308,-0.1728,37.0
1,UPPER EAST SIDE (59-79),4.235901e+09,0.0831,-0.0774,-0.1605,0.0112,-0.0719,128.5
2,MIDTOWN CBD,3.705496e+09,0.2531,-0.0645,-0.3176,-0.0884,-0.3415,48.0
3,UPPER WEST SIDE (59-79),3.279761e+09,0.1025,0.0332,-0.0693,0.0963,-0.0062,111.0
4,UPPER EAST SIDE (79-96),2.897718e+09,0.0642,-0.0251,-0.0893,0.0421,-0.0221,157.0
5,CHELSEA,2.410984e+09,0.2300,0.2658,0.0358,0.2615,0.0315,57.0
6,FINANCIAL,1.891710e+09,0.4328,-0.1515,-0.5843,-0.1384,-0.5712,26.0
7,MIDTOWN EAST,1.811546e+09,0.0513,-0.0668,-0.1181,0.0181,-0.0332,173.0
8,FLATIRON,1.720011e+09,0.4997,-0.1332,-0.6329,0.3567,-0.1430,22.0
9,FASHION,1.656225e+09,0.4381,0.3915,-0.0466,0.2498,-0.1883,25.0
10,TRIBECA,1.574382e+09,0.2955,0.2819,-0.0136,0.1828,-0.1127,39.0
11,UPPER WEST SIDE (79-96),1.531212e+09,0.0889,-0.0639,-0.1528,0.0605,-0.0284,123.0
12,GREENWICH VILLAGE-WEST,1.465350e+09,0.1192,-0.0440,-0.1632,0.0775,-0.0417,101.0
13,KIPS BAY,1.461790e+09,1.2590,-0.5720,-1.8310,1.6494,0.3904,11.0
14,FLUSHING-NORTH,1.419332e+09,0.1540,-0.0227,-0.1767,0.0770,-0.0770,84.0
15,SOHO,1.376477e+09,0.2789,0.0794,-0.1995,0.1110,-0.1679,42.0
16,MURRAY HILL,1.293976e+09,0.1765,-0.1826,-0.3591,0.1114,-0.0651,79.0
17,GREENWICH VILLAGE-CENTRAL,1.188728e+09,0.1323,-0.0751,-0.2074,0.0199,-0.1124,93.0
18,HARLEM-CENTRAL,9.211185e+08,0.2067,0.0175,-0.1892,0.0523,-0.1544,68.0
19,LONG ISLAND CITY,8.874239e+08,0.2520,0.2087,-0.0433,0.2612,0.0092,49.0
20,BEDFORD STUYVESANT,7.924115e+08,0.0799,-0.0649,-0.1448,0.0481,-0.0318,133.0
21,GRAMERCY,7.889641e+08,0.2045,-0.1648,-0.3693,-0.1330,-0.3375,69.0
22,UPPER WEST SIDE (96-116),6.732289e+08,0.2110,0.4194,0.2084,0.2659,0.0549,65.0
23,CLINTON,6.663815e+08,0.3352,-0.1777,-0.5129,0.3704,0.0352,35.0
24,PARK SLOPE,6.552751e+08,0.0924,0.0092,-0.0832,0.0765,-0.0159,121.0
25,CIVIC CENTER,6.022938e+08,0.3873,0.4803,0.0930,0.2897,-0.0976,29.0
26,ASTORIA,5.733693e+08,0.0809,0.0002,-0.0807,0.0553,-0.0256,132.0
27,BROOKLYN HEIGHTS,5.260828e+08,0.1680,0.1207,-0.0473,0.1734,0.0054,80.0
28,WILLIAMSBURG-NORTH,5.198672e+08,0.2986,-0.2473,-0.5459,0.0123,-0.2863,38.0
29,BOROUGH PARK,5.124391e+08,0.0730,0.0844,0.0114,0.1079,0.0349,144.0
...,...,...,...,...,...,...,...,...
172,PELHAM PARKWAY NORTH,4.337934e+07,0.0576,0.1661,0.1085,0.1321,0.0745,164.0
173,NAVY YARD,4.145022e+07,0.6638,0.7482,0.0844,0.5121,-0.1517,16.0
174,JAMAICA HILLS,3.982200e+07,0.0973,0.1670,0.0697,0.2416,0.1443,116.0
175,HILLCREST,3.646712e+07,0.0822,0.1043,0.0221,0.0834,0.0012,131.0
176,CROTONA PARK,3.498743e+07,0.1913,0.2694,0.0781,0.0632,-0.1281,72.0
177,ROOSEVELT ISLAND,3.478904e+07,-0.4632,-0.4632,0.0000,-0.4632,0.0000,202.0
178,GERRITSEN BEACH,2.928741e+07,0.0835,0.2136,0.1301,0.2537,0.1702,127.0
179,HAMMELS,2.886890e+07,0.2094,0.1015,-0.1079,0.3402,0.1308,66.0
180,HOLLIS HILLS,2.875589e+07,0.0383,-0.0675,-0.1058,0.0077,-0.0306,189.0
181,FIELDSTON,2.852399e+07,0.0773,0.0141,-0.0632,0.0772,-0.0001,136.0
182,BREEZY POINT,2.728250e+07,7.8282,7.8282,0.0000,7.8282,0.0000,2.0
183,CITY ISLAND,2.661538e+07,0.0609,0.1046,0.0437,0.2248,0.1639,161.0
184,WOODLAWN,2.550552e+07,0.0733,0.0565,-0.0168,0.0907,0.0174,142.5
185,PELHAM GARDENS,2.403374e+07,0.2039,0.8951,0.6912,0.5557,0.3518,70.0
186,SEAGATE,2.058857e+07,0.1410,0.1501,0.0091,0.5985,0.4575,89.0
187,NEPONSIT,1.990355e+07,0.0097,-0.0721,-0.0818,-0.0569,-0.0666,199.0
188,MANHATTAN-UNKNOWN,1.297997e+07,3.2574,-0.4250,-3.6824,-0.1802,-3.4376,4.0
189,BROOKLYN-UNKNOWN,1.236952e+07,3.6588,8.6365,4.9777,4.9262,1.2674,3.0
190,AIRPORT JFK,9.988704e+06,-0.3595,-0.3595,0.0000,-0.3595,0.0000,201.0
191,BROAD CHANNEL,9.059447e+06,0.0949,0.2211,0.1262,0.3164,0.2215,119.0
192,BRONX PARK,6.829955e+06,2.8327,1.1398,-1.6929,2.4800,-0.3527,6.0
193,JAMAICA BAY,6.247010e+06,0.5884,1.6127,1.0243,0.7169,0.1285,19.0
194,EAST RIVER,6.066667e+06,2.0000,2.0000,0.0000,2.0000,0.0000,8.0
195,FLUSHING MEADOW PARK,5.131901e+06,0.1902,0.0693,-0.1209,0.3874,0.1972,73.0
196,CO-OP CITY,4.982936e+06,2.1787,2.9376,0.7589,1.8200,-0.3587,7.0
197,BRONX-UNKNOWN,3.611250e+06,1.4510,2.3706,0.9196,1.1728,-0.2782,9.0
198,CITY ISLAND-PELHAM STRIP,2.897985e+06,24.4485,1.9594,-22.4891,0.9830,-23.4655,1.0
199,AIRPORT LA GUARDIA,2.185489e+06,0.3481,0.5826,0.2345,0.2758,-0.0723,33.0
200,VAN CORTLANDT PARK,1.619039e+06,1.1041,-0.0594,-1.1635,0.0596,-1.0445,12.0
201,QUEENS-UNKNOWN,6.537500e+05,0.3993,0.3993,0.0000,0.3993,0.0000,28.0

## Ranking Neighborhoods Based on Momentum

In [123]:
#def avg_pct_change(df):
avg_pct_change_sales = current_sales_df['avg_pct_change']
avg_pct_change_sales
    #temp_df['avg_change_rank'] = temp_df.index+1
    #return temp_df['neighborhood','avg_change_rank']

neighborhood
MIDTOWN WEST                 0.3036
UPPER EAST SIDE (59-79)      0.0831
MIDTOWN CBD                  0.2531
UPPER WEST SIDE (59-79)      0.1025
UPPER EAST SIDE (79-96)      0.0642
                             ...
BRONX-UNKNOWN                1.4510
CITY ISLAND-PELHAM STRIP    24.4485
AIRPORT LA GUARDIA           0.3481
VAN CORTLANDT PARK           1.1041
QUEENS-UNKNOWN               0.3993
Name: avg_pct_change, Length: 202, dtype: float64

In [56]:
avg_pct_change(current_sales_df)

AttributeError: 'NoneType' object has no attribute 'index'