In [64]:
import pandas as pd
from pathlib import Path
import numpy as np

In [65]:
# For input to reading files based on year
year = 2009

if year-2000 < 10:
    year_str = f"0{year-2000}"
else: year_str = f"{year-2000}"
        
year_str

'09'

In [67]:
# Read excel file and skip title and description rows
xls_path = Path(f"Data/Income/{year_str}zp33ny.xls")
df_xls = pd.read_excel(xls_path, skiprows=3, index_col=None, na_values=['NA'])
df_xls.head()

,ZIP\ncode [1],Size of adjusted gross income,Number of returns,Number of joint returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Adjusted gross income (AGI),Salaries and wages in AGI,Unnamed: 9,...,Alternative minimum tax,Unnamed: 62,Income tax [6],Unnamed: 64,Total tax liability [7],Unnamed: 66,Tax due at time of filing [8],Unnamed: 68,Overpayments refunded [9],Unnamed: 70
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Number of returns,Amount,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7,-8,...,-60,-61,-62,-63,-64,-65,-66,-67,-68,-69
2,0,NaN,8859870.0,2885809.0,5831350.0,16840512.0,5270429.0,591058301.0,7279318,414308145,...,466119,3476047,5964627,81598109,6641628,85640574,1419456,5803715,6896726,23044299
3,0,"$1 under $25,000",3555603.0,496249.0,2241627.0,5286324.0,1551565.0,42351360.0,2519194,29460761,...,874,601,1174529,766535,1749990,1615697,449035,258237,2784252,6008426
4,0,"$25,000 under $50,000",2107465.0,501518.0,1342830.0,3897170.0,1195917.0,76646332.0,1865259,63488214,...,734,1209,1684304,4328850,1762100,4769972,251980,354726,1809800,5077936

In [68]:
# Choose relevant columns
zip_col = df_xls.columns.get_loc('ZIP\ncode [1]')
income_bracket_col = df_xls.columns.get_loc('Size of adjusted gross income')
nbr_returns_col = df_xls.columns.get_loc('Number of returns')
AGI_col = np.where(df_xls.columns.str.contains('Adjusted gross income'))[0][0]
df_xls = df_xls.iloc[:, [zip_col,income_bracket_col,nbr_returns_col,AGI_col]]
df_xls

,ZIP\ncode [1],Size of adjusted gross income,Number of returns,Adjusted gross income (AGI)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,-1.0,-6.0
2,0,NaN,8859870.0,591058301.0
3,0,"$1 under $25,000",3555603.0,42351360.0
4,0,"$25,000 under $50,000",2107465.0,76646332.0
...,...,...,...,...
12386,[9] The amount of overpayments the tax filer ...,NaN,NaN,NaN
12387,NOTE: This table presents aggregates of all re...,NaN,NaN,NaN
12388,"In general, during administrative or Master Fi...",NaN,NaN,NaN
12389,Detail may not add to totals because of rounding.,NaN,NaN,NaN
12390,"SOURCE: IRS, Statistics of Income Division, \n...",NaN,NaN,NaN

In [69]:
# Rename columns for consistency
df_xls.columns=(['ZIP','Income Bracket','Nbr of Returns','Adjusted Gross Income'])
df_xls

,ZIP,Income Bracket,Nbr of Returns,Adjusted Gross Income
0,NaN,NaN,NaN,NaN
1,NaN,NaN,-1.0,-6.0
2,0,NaN,8859870.0,591058301.0
3,0,"$1 under $25,000",3555603.0,42351360.0
4,0,"$25,000 under $50,000",2107465.0,76646332.0
...,...,...,...,...
12386,[9] The amount of overpayments the tax filer ...,NaN,NaN,NaN
12387,NOTE: This table presents aggregates of all re...,NaN,NaN,NaN
12388,"In general, during administrative or Master Fi...",NaN,NaN,NaN
12389,Detail may not add to totals because of rounding.,NaN,NaN,NaN
12390,"SOURCE: IRS, Statistics of Income Division, \n...",NaN,NaN,NaN

In [70]:
# Take only the rows where it shows total of each ZIP code
# Step 1: Drop rows where income bracket is not null

rows_to_drop = df_xls[df_xls['Income Bracket'].notnull()].index
df_xls = df_xls.drop(rows_to_drop)
df_xls.head(10)

      ZIP Income Bracket  Nbr of Returns  Adjusted Gross Income
0     NaN            NaN             NaN                    NaN
1     NaN            NaN            -1.0                   -6.0
2       0            NaN       8859870.0            591058301.0
9     NaN            NaN             NaN                    NaN
10  10001            NaN         12393.0              1644776.0
17    NaN            NaN             NaN                    NaN
18  10002            NaN         44144.0              1652980.0
25    NaN            NaN             NaN                    NaN
26  10003            NaN         28745.0              4554175.0
33    NaN            NaN             NaN                    NaN

In [71]:
# Step 2: Drop rows where ZIP is null
rows_to_drop = df_xls[df_xls['ZIP'].isnull()].index
df_xls = df_xls.drop(rows_to_drop)
df_xls

,ZIP,Income Bracket,Nbr of Returns,Adjusted Gross Income
2,0,NaN,8859870.0,591058301.0
10,10001,NaN,12393.0,1644776.0
18,10002,NaN,44144.0,1652980.0
26,10003,NaN,28745.0,4554175.0
34,10004,NaN,1910.0,485592.0
...,...,...,...,...
12386,[9] The amount of overpayments the tax filer ...,NaN,NaN,NaN
12387,NOTE: This table presents aggregates of all re...,NaN,NaN,NaN
12388,"In general, during administrative or Master Fi...",NaN,NaN,NaN
12389,Detail may not add to totals because of rounding.,NaN,NaN,NaN
12390,"SOURCE: IRS, Statistics of Income Division, \n...",NaN,NaN,NaN

In [72]:
# Step 3: Drop Income Bracket column - this will also drop footer rows which we don't need
df_xls = df_xls.drop(columns='Income Bracket').dropna()
df_xls

         ZIP  Nbr of Returns  Adjusted Gross Income
2          0       8859870.0            591058301.0
10     10001         12393.0              1644776.0
18     10002         44144.0              1652980.0
26     10003         28745.0              4554175.0
34     10004          1910.0               485592.0
...      ...             ...                    ...
12338  14898           578.0                20745.0
12346  14901          5563.0               177275.0
12354  14903          3673.0               189045.0
12362  14904          7210.0               233297.0
12370  14905          4443.0               255851.0

[1547 rows x 3 columns]

In [73]:
# Add average income column and year
df_xls['Average_Income'] = df_xls['Adjusted Gross Income'] / df_xls['Nbr of Returns']
df_xls['Year'] = 2016
df_xls

         ZIP  Nbr of Returns  Adjusted Gross Income  Average_Income  Year
2          0       8859870.0            591058301.0       66.711848  2016
10     10001         12393.0              1644776.0      132.718147  2016
18     10002         44144.0              1652980.0       37.445179  2016
26     10003         28745.0              4554175.0      158.433641  2016
34     10004          1910.0               485592.0      254.236649  2016
...      ...             ...                    ...             ...   ...
12338  14898           578.0                20745.0       35.891003  2016
12346  14901          5563.0               177275.0       31.866798  2016
12354  14903          3673.0               189045.0       51.468827  2016
12362  14904          7210.0               233297.0       32.357420  2016
12370  14905          4443.0               255851.0       57.585190  2016

[1547 rows x 5 columns]

In [74]:
# Set ZIP as index
df_xls = df_xls.set_index('ZIP')
df_xls

       Nbr of Returns  Adjusted Gross Income  Average_Income  Year
ZIP
0           8859870.0            591058301.0       66.711848  2016
10001         12393.0              1644776.0      132.718147  2016
10002         44144.0              1652980.0       37.445179  2016
10003         28745.0              4554175.0      158.433641  2016
10004          1910.0               485592.0      254.236649  2016
...               ...                    ...             ...   ...
14898           578.0                20745.0       35.891003  2016
14901          5563.0               177275.0       31.866798  2016
14903          3673.0               189045.0       51.468827  2016
14904          7210.0               233297.0       32.357420  2016
14905          4443.0               255851.0       57.585190  2016

[1547 rows x 4 columns]