In [73]:
import pandas as pd
from pathlib import Path

In [131]:
csvpath = Path("Data/zip_neighborhood.csv")
zip_neigh_df = pd.DataFrame(pd.read_csv(csvpath))
zip_neigh_df.head()

  Borough                Neighborhood                   ZIP Codes
0   Bronx               Central Bronx         10453, 10457, 10460
1     NaN      Bronx Park and Fordham         10458, 10467, 10468
2     NaN  High Bridge and Morrisania         10451, 10452, 10456
3     NaN  Hunts Point and Mott Haven  10454, 10455, 10459, 10474
4     NaN   Kingsbridge and Riverdale                10463, 10471

In [132]:
zip_neigh_df.fillna(method='ffill',inplace=True)

In [133]:
zip_neigh_df['ZIP Codes'].str.split(',',expand=True)
zip_neigh_df = pd.concat([zip_neigh_df,zip_neigh_df['ZIP Codes'].str.split(',',expand=True)],axis=1)
zip_neigh_df= zip_neigh_df.drop(columns="ZIP Codes")

In [138]:
melted_df = zip_neigh_df.melt(id_vars=['Borough','Neighborhood'])
melted_df.drop(columns='variable',inplace=True)

In [142]:
melted_df.rename(columns={'value':'ZIP'},inplace=True)

In [145]:
melted_df

           Borough                Neighborhood    ZIP
0            Bronx               Central Bronx  10453
1            Bronx      Bronx Park and Fordham  10458
2            Bronx  High Bridge and Morrisania  10451
3            Bronx  Hunts Point and Mott Haven  10454
4            Bronx   Kingsbridge and Riverdale  10463
..             ...                         ...    ...
373         Queens                 West Queens   None
374  Staten Island               Port Richmond   None
375  Staten Island                 South Shore   None
376  Staten Island    Stapleton and St. George   None
377  Staten Island                  Mid-Island   None

[378 rows x 3 columns]

In [125]:
#zip_neigh_df.set_index(['Borough','Neighborhood'], inplace=True)